body{
    margin: 0;
    padding: 0;
}

.card{
    background-color:  #248ee8;
    padding: 20px;
    width: 400px;
    border-radius: 20px;
}

h1{
    color: white;
}

h2{
    color: white;
    font-weight: normal;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px;
}

input:hover{
    background-color: #14AEC8;
    cursor: pointer;
}